node-red/flows_raspberrypi.json
[{"id":"a476652c.8b628","type":"tab","label":"Homegurl","disabled":false,"info":""},{"id":"e7ba5a8c.43861","type":"tab","label":"Torrie","disabled":false,"info":""},{"id":"c21231f7.4ae658","type":"tab","label":"Monitoror","disabled":false,"info":""},{"id":"b3c20a31.ab588","type":"telegram bot","botname":"homegurl_bot","usernames":"","chatids":"-1001237818843,-100476192092,-476192092","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"3507b868.b72938","type":"telegram bot","botname":"Eircode","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"10edcc6f.f06d1c","type":"telegram bot","botname":"Torrie","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"2e3c545e.3770dc","type":"telegram command","z":"a476652c.8b628","name":"/help","command":"/help","bot":"b3c20a31.ab588","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":110,"y":580,"wires":[["c8a3a52d.78dfd"]]},{"id":"c61e3d10.0c03e","type":"telegram sender","z":"a476652c.8b628","name":"/help","bot":"b3c20a31.ab588","haserroroutput":false,"outputs":1,"x":370,"y":660,"wires":[["87ff15fc.b32338"]]},{"id":"c8a3a52d.78dfd","type":"function","z":"a476652c.8b628","name":"Help message","func":"var message = \n`\nWhat's good ✨, here are some commands I understand\n\n\\`/help\\`\\t\\tshow this message\n\\`/peep\\`\\t\\tsee what's currently in front of the camera\n\\`/motion_start\\`\\t\\tstart motion detection\n\\`/motion_stop\\`\\t\\tstop motion detection\n\\`/torrent_magnet\\`\\t\\tdownload the torrent with this magnet link\n`;\n\nmsg.payload.type = 'message';\nmsg.payload.content = message;\n\n// activate markdown\nmsg.payload.options = {\n  disable_web_page_preview : true, \n  parse_mode : \"Markdown\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":620,"wires":[["c61e3d10.0c03e"]],"info":"## New message\n\nHello *markdown* formatted messages!'\n\nwith `inline` code\n\n> and quote\n>> nested\n\n\\`\\`\\`\nvar code = \"cool\";\n\\`\\`\\`\n\n| table | data |\n|---|---|\n| 1 | fred |\n| 2 | bob |\n\n_Italic_ **bold** "},{"id":"5c99a4ca.742d74","type":"file in","z":"a476652c.8b628","name":"load image","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":650,"y":660,"wires":[["49bcaf05.882bc8"]]},{"id":"49bcaf05.882bc8","type":"function","z":"a476652c.8b628","name":"send picture","func":"msg.payload = {\n  content: msg.payload,\n  caption: 'Ayo, cav this!',\n  type : 'photo',\n  chatId: -476192092,\n}\n\n/* type can be one of the following\nphoto\naudio\nvideo\nsticker\nvoice\ndocument\n*/\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":700,"wires":[["5477c4c1.3b9364"]]},{"id":"5477c4c1.3b9364","type":"telegram sender","z":"a476652c.8b628","name":"","bot":"b3c20a31.ab588","haserroroutput":false,"outputs":1,"x":870,"y":740,"wires":[["8f28eefb.fb6278"]]},{"id":"8f28eefb.fb6278","type":"debug","z":"a476652c.8b628","name":"[debug] telegram motion detected","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1040,"y":780,"wires":[]},{"id":"9d9ff87b.bcc93","type":"watch","z":"a476652c.8b628","name":"homegurl/motion","files":"/home/pi/Development/projects/homegurl/motion/","recursive":false,"x":140,"y":460,"wires":[["c5734204.c4a6c","a38199ff.f53048"]]},{"id":"87ff15fc.b32338","type":"debug","z":"a476652c.8b628","name":"[debug] /help","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":700,"wires":[]},{"id":"5ad794d.52c80ec","type":"telegram command","z":"a476652c.8b628","name":"/peep","command":"/peep","bot":"b3c20a31.ab588","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":110,"y":960,"wires":[["3c25c4f8.b73b64"]]},{"id":"f9cc36ed.72ace","type":"exec","z":"a476652c.8b628","command":"raspistill -o /home/pi/Development/projects/homegurl/raspistill/snapshot.jpg","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"snap camera image","x":440,"y":920,"wires":[["107af601.74f862"],["a0077242.520eb8"],["89507aa5.f2697"]]},{"id":"89507aa5.f2697","type":"switch","z":"a476652c.8b628","name":"is success","property":"payload.code","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":980,"wires":[["ba239136.1ec3f8"],["8c34138.013197"]]},{"id":"ba239136.1ec3f8","type":"function","z":"a476652c.8b628","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":980,"wires":[["1de0f5aa.15b232"]]},{"id":"1de0f5aa.15b232","type":"file in","z":"a476652c.8b628","name":"load snapshot","filename":"/home/pi/Development/projects/homegurl/raspistill/snapshot.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":940,"y":1020,"wires":[["6412d111.bffb28"]]},{"id":"8c34138.013197","type":"debug","z":"a476652c.8b628","name":"[debug] raspistill error code","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":660,"y":1040,"wires":[]},{"id":"107af601.74f862","type":"debug","z":"a476652c.8b628","name":"[debug] raspistill stdout","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":880,"wires":[]},{"id":"a0077242.520eb8","type":"debug","z":"a476652c.8b628","name":"[debug] raspistill stderr","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":920,"wires":[]},{"id":"6412d111.bffb28","type":"function","z":"a476652c.8b628","name":"send picture","func":"msg.payload = {\n  content: msg.payload,\n  caption: \"Here's your peep, fam\",\n  type : 'photo',\n  chatId: -1001237818843,\n}\n\n/* type can be one of the following\nphoto\naudio\nvideo\nsticker\nvoice\ndocument\n*/\n\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":1060,"wires":[["dd580f6f.baae88"]]},{"id":"dd580f6f.baae88","type":"telegram sender","z":"a476652c.8b628","name":"","bot":"b3c20a31.ab588","haserroroutput":false,"outputs":1,"x":1250,"y":1100,"wires":[["2dcc4d2.dd052b2"]]},{"id":"2dcc4d2.dd052b2","type":"debug","z":"a476652c.8b628","name":"[debug] telegram peep","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1440,"y":1140,"wires":[]},{"id":"97ca2b84.81f538","type":"telegram sender","z":"a476652c.8b628","name":"","bot":"b3c20a31.ab588","haserroroutput":false,"outputs":1,"x":430,"y":1080,"wires":[["cbe83a68.1e02f8"]]},{"id":"cbe83a68.1e02f8","type":"debug","z":"a476652c.8b628","name":"[debug] telegram pre-peep","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":580,"y":1120,"wires":[]},{"id":"3c25c4f8.b73b64","type":"function","z":"a476652c.8b628","name":"send progress response","func":"msg.payload = {\n  type: 'message',\n  content: 'Gimme a sec while I get that for ya 🏃🏾‍♀️',\n  chatId: -1001237818843,\n}\n\n/* type can be one of the following\nphoto\naudio\nvideo\nsticker\nvoice\ndocument\n*/\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":1020,"wires":[["97ca2b84.81f538","f9cc36ed.72ace"]]},{"id":"d4624632.b36bf","type":"exec","z":"a476652c.8b628","command":"motion -c /home/pi/.motion/motion.conf","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"start motion","x":310,"y":80,"wires":[["740981ec.52b238"],["cb90ffba.b85138"],["2e105ec7.ff7222"]]},{"id":"2e105ec7.ff7222","type":"debug","z":"a476652c.8b628","name":"[debug] motion start code","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":200,"wires":[]},{"id":"740981ec.52b238","type":"debug","z":"a476652c.8b628","name":"[debug] motion start error","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":580,"y":20,"wires":[]},{"id":"83f1f942.22fb98","type":"inject","z":"a476652c.8b628","name":"do it","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":360,"wires":[["de1e3f1c.475dd8"]]},{"id":"df2bc22.60927c","type":"debug","z":"a476652c.8b628","name":"[debug] motion stop code","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":460,"wires":[]},{"id":"f63af94e.3973e","type":"debug","z":"a476652c.8b628","name":"[debug] motion stop error","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":560,"y":260,"wires":[]},{"id":"c5734204.c4a6c","type":"join","z":"a476652c.8b628","name":"Batch file changes","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"payload","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"str","reduceFixup":"","x":250,"y":500,"wires":[["722ac8e6.5a86e"]]},{"id":"722ac8e6.5a86e","type":"function","z":"a476652c.8b628","name":"Join duplicate files","func":"msg.payload = Object\n    .entries(msg.payload)\n    .map(([key]) => key);\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":540,"wires":[["45747ed7.375ce8"]]},{"id":"45747ed7.375ce8","type":"split","z":"a476652c.8b628","name":"","splt":"","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":450,"y":580,"wires":[["e0abda39.174b5"]]},{"id":"e0abda39.174b5","type":"function","z":"a476652c.8b628","name":"Fix file message","func":"const filename = msg.payload.substring(msg.payload.lastIndexOf('/') + 1, msg.payload.lenght);\n\nmsg.file = filename;\nmsg.filename = msg.payload;\nmsg.size = undefined;\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":620,"wires":[["5c99a4ca.742d74"]]},{"id":"a0c0e3e8.6ead38","type":"telegram command","z":"a476652c.8b628","name":"/motion_start","command":"/motion_start","bot":"b3c20a31.ab588","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":130,"y":60,"wires":[["d4624632.b36bf"]]},{"id":"de1e3f1c.475dd8","type":"exec","z":"a476652c.8b628","command":"ps axf | grep motion | grep -v grep | awk '{print \"kill -9 \" $1}' | sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"kill motion","x":320,"y":340,"wires":[["f63af94e.3973e"],["c39cda43.bbcac8"],["d5d385b0.8e7d8"]]},{"id":"ea092e2a.8dd388","type":"telegram command","z":"a476652c.8b628","name":"/motion_stop","command":"/motion_stop","bot":"b3c20a31.ab588","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":130,"y":300,"wires":[["de1e3f1c.475dd8"]]},{"id":"7b14a4ed.254e3c","type":"inject","z":"a476652c.8b628","name":"do it","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":120,"wires":[["d4624632.b36bf"]]},{"id":"92ae0c17.ae4c68","type":"debug","z":"a476652c.8b628","name":"[debug] telegram motion started","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":140,"wires":[]},{"id":"cb5d4cb5.c3c6f","type":"debug","z":"a476652c.8b628","name":"[debug] telegram motion stopped","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":440,"wires":[]},{"id":"9dbfec44.f2662","type":"function","z":"a476652c.8b628","name":"Start message","func":"var message = `Motion is up and cav'ing the scope 🕵🏾‍♂️️`;\n\nmsg.payload = {\n  content: message,\n  type : 'message',\n  chatId: -1001237818843,\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":60,"wires":[["cb923f58.bef8f8"]],"info":"## New message\n\nHello *markdown* formatted messages!'\n\nwith `inline` code\n\n> and quote\n>> nested\n\n\\`\\`\\`\nvar code = \"cool\";\n\\`\\`\\`\n\n| table | data |\n|---|---|\n| 1 | fred |\n| 2 | bob |\n\n_Italic_ **bold** "},{"id":"604f0547.2f78b4","type":"function","z":"a476652c.8b628","name":"Stop message","func":"var message = `Motion is now a dead ting 💀️`;\n\nmsg.payload = {\n  content: message,\n  type : 'message',\n  chatId: -1001237818843,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":360,"wires":[["40100684.0db1e"]],"info":"## New message\n\nHello *markdown* formatted messages!'\n\nwith `inline` code\n\n> and quote\n>> nested\n\n\\`\\`\\`\nvar code = \"cool\";\n\\`\\`\\`\n\n| table | data |\n|---|---|\n| 1 | fred |\n| 2 | bob |\n\n_Italic_ **bold** "},{"id":"d5d385b0.8e7d8","type":"switch","z":"a476652c.8b628","name":"","property":"payload.code","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":390,"y":400,"wires":[["604f0547.2f78b4"],["df2bc22.60927c"]]},{"id":"c39cda43.bbcac8","type":"debug","z":"a476652c.8b628","name":"[debug] motion stop output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":560,"y":320,"wires":[]},{"id":"889d4c42.f507d8","type":"debug","z":"a476652c.8b628","name":"[debug] motion start output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":680,"y":160,"wires":[]},{"id":"cb923f58.bef8f8","type":"telegram sender","z":"a476652c.8b628","name":"","bot":"b3c20a31.ab588","haserroroutput":false,"outputs":1,"x":790,"y":100,"wires":[["92ae0c17.ae4c68"]]},{"id":"40100684.0db1e","type":"telegram sender","z":"a476652c.8b628","name":"","bot":"b3c20a31.ab588","haserroroutput":false,"outputs":1,"x":690,"y":400,"wires":[["cb5d4cb5.c3c6f"]]},{"id":"cb90ffba.b85138","type":"switch","z":"a476652c.8b628","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Started","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":80,"wires":[["9dbfec44.f2662","889d4c42.f507d8"],["889d4c42.f507d8"]]},{"id":"469ddae7.75fefc","type":"telegram command","z":"a476652c.8b628","name":"","command":"/torrent_movie_","bot":"b3c20a31.ab588","strict":false,"hasresponse":false,"useregex":true,"removeregexcommand":true,"outputs":1,"x":140,"y":1200,"wires":[["c8d7f152.c3c2d"]]},{"id":"c8d7f152.c3c2d","type":"function","z":"a476652c.8b628","name":"Extract command param","func":"msg.payload = msg.payload.content;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":1240,"wires":[["a36af67e.5b2a18"]]},{"id":"50bf68c1.7f69c8","type":"exec","z":"a476652c.8b628","command":"transmission-cli","addpay":true,"append":"--download-dir /mnt/Transcend/plex/movies","useSpawn":"true","timer":"","oldrc":false,"name":"","x":560,"y":1260,"wires":[["caf30270.acc7c"],["660ff0a8.66c69"],["660ff0a8.66c69"]]},{"id":"caf30270.acc7c","type":"debug","z":"a476652c.8b628","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":1220,"wires":[]},{"id":"f41f1009.1e0248","type":"debug","z":"a476652c.8b628","name":"[debug] expand-url","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":1320,"wires":[]},{"id":"660ff0a8.66c69","type":"debug","z":"a476652c.8b628","name":"[debug] transmission-cli","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":1280,"wires":[]},{"id":"4ae2d8c3.c73c08","type":"telegram event","z":"e7ba5a8c.43861","name":"Inline Query","bot":"10edcc6f.f06d1c","event":"inline_query","autoanswer":false,"x":170,"y":120,"wires":[["30dfe8f1.4dd4b"]]},{"id":"cadaf245.f89be","type":"http request","z":"e7ba5a8c.43861","name":"","method":"GET","ret":"txt","paytoqs":true,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":200,"wires":[["d000f5b0.f6e308","e6b1905b.8e1f78"]]},{"id":"30dfe8f1.4dd4b","type":"function","z":"e7ba5a8c.43861","name":"buiild piratebay api url","func":"const {content, offset, inlineQueryId} = msg.payload;\n\nmsg.url = `http://raspberrypi:5000/search/${content}/${offset}`;\nmsg.inlineQueryId = inlineQueryId;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":160,"wires":[["cadaf245.f89be"]]},{"id":"d000f5b0.f6e308","type":"function","z":"e7ba5a8c.43861","name":"Transform results","func":"const { v4: uuidv4 } = global.get('uuid');\nconst tinyurl = global.get(\"tinyurl\");\n\nasync function doTheThings() {\n    const inlineQueryId = msg.inlineQueryId;\n    const offset = msg.payload.offset;\n\n    try {\n        const getThresholdAndText = (min) => {\n          const [APPROX_TB, APPROX_GB, APPROX_MB, APPROX_KB] = [1000 ** 4, 1000 ** 3, 1000 ** 2, 1000];\n        \n          switch (true) {\n            case min >= APPROX_TB:\n              return [APPROX_TB, 'TB'];\n            case min >= APPROX_GB:\n              return [APPROX_GB, 'GB'];\n            case min >= APPROX_MB:\n              return [APPROX_MB, 'MB'];\n            default:\n              return [APPROX_KB, 'KB'];\n          }\n        };\n        \n        const formatDataSize = (bytes) => {\n          const [threshold, text] = getThresholdAndText(bytes);\n        \n          const number = (bytes / threshold).toLocaleString('en-US', {\n            maximumFractionDigits: 2,\n            minimumFractionDigit: 0,\n          });\n        \n          return `${number} ${text}`;\n        };\n        \n        const escape = (text) => text \n          ? text\n              .replace(/\\./g, '\\\\.')\n              .replace(/-/g, '\\\\-')\n              .replace(/\\(/g, '\\\\(')\n              .replace(/\\)/g, '\\\\)')\n              .replace(/\\{/g, '\\\\{')\n              .replace(/\\}/g, '\\\\}')\n              .replace(/_/g, '\\\\_')\n              .replace(/\\*/g, '\\\\*')\n              .replace(/!/g, '\\\\!')\n              .replace(/#/g, '\\\\#')\n              .replace(/\\+/g, '\\\\+')\n          : '';\n        \n        const results = await Promise.all(JSON.parse(msg.payload).map(async ({title, category, uploader, id, seeds, leeches, size, magnet}) => ({\n              type: 'article',\n              id: `${inlineQueryId}-${uuidv4()}`,\n              title: title,\n              description: `Category: ${category}\\n💾 ${formatDataSize(size)}\\n📤 ${seeds}\\t📥️ ${leeches}`,\n              url: id,\n              hide_url: true,\n            //   parse_mode: 'MarkdownV2',\n              message_text: `*${escape(title)}*\\n👤 \\`${escape(uploader)}\\`\\n💾 \\`${escape(formatDataSize(size))}\\`\\n🧲 [link](${(await tinyurl.shorten(magnet))})` \n            })));\n        \n        const next_offset = offset ? parseInt(offset, 10) + 1 : 2;\n\n        return node.send({\n            payload: {\n                type: 'answerInlineQuery',\n                results,\n                inlineQueryId,\n                options: {next_offset},\n                chatId: -1001237818843,\n            },\n        });\n    } catch (error) {\n        return node.send({\n            paylaod: {\n                type: 'answerInlineQuery',\n                results: [],\n                inlineQueryId,\n                chatId: -1001237818843,\n            },\n        });\n    }\n}\n\ndoTheThings();\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":240,"wires":[["4e114aae.8cb2d4","d8909dc2.ed6588"]]},{"id":"b9bb3bfc.3a6","type":"debug","z":"e7ba5a8c.43861","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":320,"wires":[]},{"id":"4e114aae.8cb2d4","type":"telegram sender","z":"e7ba5a8c.43861","name":"","bot":"10edcc6f.f06d1c","haserroroutput":false,"outputs":1,"x":700,"y":280,"wires":[["b9bb3bfc.3a6"]]},{"id":"a36af67e.5b2a18","type":"exec","z":"a476652c.8b628","command":"curl -sI","addpay":true,"append":" | sed -n 's/location: *//p'","useSpawn":"false","timer":"","oldrc":false,"name":"expand-url","x":350,"y":1300,"wires":[["50bf68c1.7f69c8"],["f41f1009.1e0248"],["f41f1009.1e0248"]]},{"id":"d8909dc2.ed6588","type":"debug","z":"e7ba5a8c.43861","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":760,"y":200,"wires":[]},{"id":"e6b1905b.8e1f78","type":"debug","z":"e7ba5a8c.43861","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":160,"wires":[]},{"id":"548b6dda.fae944","type":"http in","z":"c21231f7.4ae658","name":"pi-hole status","url":"/pihole/status","method":"get","upload":false,"swaggerDoc":"","x":190,"y":180,"wires":[["c75add97.92f87"]]},{"id":"c75add97.92f87","type":"exec","z":"c21231f7.4ae658","command":"pihole status","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"pihole status","x":450,"y":180,"wires":[["bcaf12af.c56a5"],["b4b33da6.d4e12"],[]]},{"id":"7291afdb.0d5da8","type":"inject","z":"c21231f7.4ae658","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":120,"wires":[["c75add97.92f87"]]},{"id":"bcaf12af.c56a5","type":"switch","z":"c21231f7.4ae658","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"\\s*\\[✓\\]\\sDNS\\sservice\\sis\\slistening\\n\\s*\\[✓\\]\\sUDP\\s\\(IPv4\\)\\n\\s*\\[✓\\]\\sTCP\\s\\(IPv4\\)\\n\\s*\\[✓\\]\\sUDP\\s\\(IPv6\\)\\n\\s*\\[✓\\]\\sTCP\\s\\(IPv6\\)\\n\\n\\s*\\[✓\\]\\sPi-hole\\sblocking\\sis\\senabled","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":160,"wires":[["f2cf511e.68d1"],["b4b33da6.d4e12"]]},{"id":"f2cf511e.68d1","type":"http response","z":"c21231f7.4ae658","name":"","statusCode":"200","headers":{},"x":840,"y":120,"wires":[]},{"id":"b4b33da6.d4e12","type":"http response","z":"c21231f7.4ae658","name":"","statusCode":"500","headers":{},"x":840,"y":200,"wires":[]},{"id":"a38199ff.f53048","type":"debug","z":"a476652c.8b628","name":"[debug] telegram motion detected","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":520,"wires":[]},{"id":"8c5903a6.b9eac","type":"telegram command","z":"a476652c.8b628","name":"","command":"/torrent_series_","bot":"b3c20a31.ab588","strict":false,"hasresponse":false,"useregex":true,"removeregexcommand":true,"outputs":1,"x":140,"y":1400,"wires":[["7b353114.bf3ad"]]},{"id":"7b353114.bf3ad","type":"function","z":"a476652c.8b628","name":"Extract command param","func":"msg.payload = msg.payload.content;\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":1440,"wires":[["12cf96d0.7e5e69"]]},{"id":"1336f6e1.20bc01","type":"exec","z":"a476652c.8b628","command":"transmission-cli","addpay":true,"append":"--download-dir /mnt/Transcend/plex/series","useSpawn":"true","timer":"","oldrc":false,"name":"","x":560,"y":1460,"wires":[["42e981aa.21e708"],["481fc04a.19d0b"],["481fc04a.19d0b"]]},{"id":"42e981aa.21e708","type":"debug","z":"a476652c.8b628","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":1420,"wires":[]},{"id":"9f34a42a.cb7888","type":"debug","z":"a476652c.8b628","name":"[debug] expand-url","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":1520,"wires":[]},{"id":"481fc04a.19d0b","type":"debug","z":"a476652c.8b628","name":"[debug] transmission-cli","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":1480,"wires":[]},{"id":"12cf96d0.7e5e69","type":"exec","z":"a476652c.8b628","command":"curl -sI","addpay":true,"append":" | sed -n 's/location: *//p'","useSpawn":"false","timer":"","oldrc":false,"name":"expand-url","x":350,"y":1500,"wires":[["1336f6e1.20bc01"],["9f34a42a.cb7888"],["9f34a42a.cb7888"]]},{"id":"d43d157a.ecca2","type":"telegram command","z":"a476652c.8b628","name":"","command":"/torrent_","bot":"b3c20a31.ab588","strict":false,"hasresponse":false,"useregex":true,"removeregexcommand":true,"outputs":1,"x":120,"y":1620,"wires":[["5cbf55.1db9c8ac"]]},{"id":"5cbf55.1db9c8ac","type":"function","z":"a476652c.8b628","name":"Extract command param","func":"msg.payload = msg.payload.content;\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":1660,"wires":[["2752947a.0e34d4"]]},{"id":"6b24c23b.69c854","type":"exec","z":"a476652c.8b628","command":"transmission-cli","addpay":true,"append":"--download-dir /mnt/Transcend/torrie","useSpawn":"true","timer":"","oldrc":false,"name":"","x":560,"y":1680,"wires":[["353e55f3.6b79ea"],["bf3f7b12.7a5bf"],["bf3f7b12.7a5bf"]]},{"id":"353e55f3.6b79ea","type":"debug","z":"a476652c.8b628","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":1640,"wires":[]},{"id":"ea636bd1.39f848","type":"debug","z":"a476652c.8b628","name":"[debug] expand-url","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":1740,"wires":[]},{"id":"bf3f7b12.7a5bf","type":"debug","z":"a476652c.8b628","name":"[debug] transmission-cli","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":1700,"wires":[]},{"id":"eca672da.4bb9d","type":"exec","z":"a476652c.8b628","command":"curl -sI","addpay":true,"append":" | sed -n 's/location: *//p'","useSpawn":"false","timer":"","oldrc":false,"name":"expand-url","x":350,"y":1720,"wires":[["6b24c23b.69c854"],["ea636bd1.39f848"],["ea636bd1.39f848"]]},{"id":"2752947a.0e34d4","type":"switch","z":"a476652c.8b628","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":1720,"wires":[["eca672da.4bb9d"],[]]}]